body {
	background-image: url('../images/court.jpg');
	background-size: cover;
}

h1 {
	color: fuchsia;
}

.card {
	margin-left: 200px;
	margin-right: 200px;
	border-color: fuchsia;
	border-width: 3px;
	background-color: lavender;
}

.container {
	text-align: center;
}